/* -------------------------------------- */
/* تنظیمات پایه */
* {
  box-sizing: border-box;
}

:root {
  --font-color: #ffb6f3;
  --success-color: #69d69c;
  --error-color: #ff6b6b;
  --bg-container: rgba(30, 30, 40, 0.8);
  --input-bg: rgba(50, 50, 60, 0.8);
  --input-border: #ff4fbc;
}

/* -------------------------------------- */
/* پس‌زمینه */
body {
  background: url(./img6.jpg) no-repeat center fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: var(--font-color);
}

/* -------------------------------------- */
/* فرم و کانتینر */
.container {
  background: var(--bg-container); /* شیشه‌ای تاریک */
  backdrop-filter: blur(12px);
  border-radius: 20px;
  border: 2px dashed #ff8adf;
  box-shadow: 0 20px 35px rgba(255, 0, 120, 0.2);
  width: 400px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ff4fbc;
  font-family: "Pacifico", cursive;
  letter-spacing: 1px;
}

/* فرم داخلی */
.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  color: var(--font-color);
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

/* فیلدهای ورودی */
.form-control input {
  direction: ltr;
  border: 2px solid var(--input-border);
  border-radius: 12px;
  width: 100%;
  padding: 10px 12px;
  font-size: 14px;
  background: var(--input-bg);
  color: #fff;
  transition: 0.25s;
}

.form-control input::placeholder {
  color: #ddd;
}

.form-control input:focus {
  outline: 0;
  border-color: #ff9ad7;
  box-shadow: 0 0 0 4px rgba(255, 75, 188, 0.3);
}

.form-control.success input {
  border-color: var(--success-color);
}

.form-control.error input {
  border-color: var(--error-color);
}

/* پیام خطا */
.form-control small {
  color: var(--error-color);
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  font-size: 12px;
}

.form-control.error small {
  visibility: visible;
}

/* دکمه */
.form button {
  cursor: pointer;
  background: linear-gradient(135deg, #ff4fbc, #ff9ad7);
  border: none;
  border-radius: 16px;
  color: #fff;
  font-weight: 600;
  display: block;
  font-size: 15px;
  padding: 12px;
  margin-top: 20px;
  width: 100%;
  box-shadow: 0 15px 25px rgba(255, 0, 120, 0.25);
  transition: 0.25s;
}

.form button:hover {
  transform: translateY(-2px) scale(1.01);
  box-shadow: 0 20px 35px rgba(255, 0, 120, 0.35);
}
